@font-face {
    font-family: 'work_sansbold';
    src: url('../fonts/worksans-bold-webfont.eot');
    src: url('../fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('../fonts/worksans-bold-webfont.woff') format('woff'),
         url('../fonts/worksans-bold-webfont.ttf') format('truetype'),
         url('../fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'work_sansregular';
    src: url('../fonts/worksans-regular-webfont.eot');
    src: url('../fonts/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
         url('../fonts/worksans-regular-webfont.woff') format('woff'),
         url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
         url('../fonts/worksans-regular-webfont.svg#work_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'work_sansmedium';
    src: url('../fonts/worksans-medium-webfont.eot');
    src: url('../fonts/worksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans-medium-webfont.woff2') format('woff2'),
         url('../fonts/worksans-medium-webfont.woff') format('woff'),
         url('../fonts/worksans-medium-webfont.ttf') format('truetype'),
         url('../fonts/worksans-medium-webfont.svg#work_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat.bold-webfont.eot');
    src: url('../fonts/montserrat.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat.bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat.bold-webfont.woff') format('woff'),
         url('../fonts/montserrat.bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat.bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/******** LINE AWESOME ICON CSS ********/
@font-face {
    font-family: "Line Awesome Brands";
    src: url("../fonts/line-awesome/la-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/line-awesome/la-brands-400.woff2") format("woff2"), url("../fonts/line-awesome/la-brands-400.woff") format("woff"), url("../fonts/line-awesome/la-brands-400.ttf") format("truetype"), url("../fonts/line-awesome/la-brands-400.svg#lineawesome") format("svg");
    font-style: normal;
    font-weight: normal;
    font-display: auto;
  }
  
  @font-face {
    font-family: "Line Awesome Free";
    src: url("../fonts/line-awesome/la-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/line-awesome/la-solid-900.woff2") format("woff2"), url("../fonts/line-awesome/la-solid-900.woff") format("woff"), url("../fonts/line-awesome/la-solid-900.ttf") format("truetype"), url("../fonts/line-awesome/la-solid-900.svg#lineawesome") format("svg");
    font-style: normal;
    font-weight: 900;
    font-display: auto;
  }
  
  @font-face {
    font-family: "Line Awesome Free";
    src: url("../fonts/line-awesome/la-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/line-awesome/la-regular-400.woff2") format("woff2"), url("../fonts/line-awesome/la-regular-400.woff") format("woff"), url("../fonts/line-awesome/la-regular-400.ttf") format("truetype"), url("../fonts/line-awesome/la-regular-400.svg#lineawesome") format("svg");
    font-style: normal;
    font-weight: 400;
    font-display: auto;
  }
$color-paragraph: #5a6e79;
$color-h1: #ffc178;
$color-h2: #252c3a;
$color-footer: #969595;
$icon-hover: #0089fd;
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    outline: none;
    font-size: 16px;
    font-weight: normal;
    background: #fff;
    color: $color-paragraph;
}
h1,h2,h3,h4
{
    letter-spacing: .25px;
}
h1,h2
{
    font-family: "montserratbold";
}
h1
{
    font-size: 1.87rem;
    color: $color-h1;
    font-size: 50px;
}
h2
{
    color: $color-h2;
    font-size: 36px;
}
h3
{
    font-family: 'work_sansbold';
    font-size: 26px;
}
h4
{
    font-family: "robotoregular";
    font-size: 16px;
}
p
{
    font-family: "work_sansregular";
    font-size: 16px;
    line-height: 1.875rem;
    font-style: normal;
    letter-spacing: .5px;
    color: $color-paragraph;
}
a
{
    font-family: 'work_sansregular';
    font-size: 16px;
    color: $color-paragraph;
    line-height: 1.875rem;
    letter-spacing: .5px;
    &:hover
    {
        text-decoration: none;
        // transition: .5s;
    }
}
img
{
    max-width: 100%;
    max-height: 100%;
}

@keyframes stud {
    from
    {
        transform: translateY(-500px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5rem;
    width: 100%;
    z-index: 99;
    .site-logo
    {
        float: left;
    }
    .navbar
    {
        margin: 1.3rem auto;
        padding: 0;
        ul
        {
            margin-left: auto;
            padding: 0 1.375rem 0 0;
            li
            {
                margin: 0 .7rem;
                a
                {
                    position: relative;
                    transition: .5s;
                    &::after
                    {
                        content: "";
                        position:absolute;
                        bottom: 0;
                        left: 0;
                        background: $color-h1;
                        height: 2px;
                        width: 0;
                        transition: .5s;
                    }  
                    &:hover::after{
                        width: 100%;
                    }
                    &:hover
                    {
                        color: $color-h1;
                    }
                }
            }
        }
        .site-btn
        {
            min-width: 8.875rem;
            padding: .765rem 0;
            background-color: #fff;
            border: 1px solid #e3e3e9;
            color: $color-h1;
            border-radius: 27px;
            &:hover
            {
                box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1); 
            }
        }
    }
}
.nav-scrolled {
  color: #333;
  background: #fdf6ee;
  padding: 1.1rem;
  transition: .5s ease;

  box-shadow: 0 3px 20px rgba(black, 0.2);
}
.main-banner
{
    position: relative;
    background: url('../img/banner-bg.png') no-repeat top 11.4rem right 2.5rem;
    background-size: 85%;
    background-color: #fff9f3;
    .banner-content
    {
        padding: 13.8rem 35.5rem 14.5rem 8.2rem;
        z-index: 1;
        h1
        {
            margin: 0 0 1.5625rem;
            line-height: 3.5rem;
        }
        p
        {
            margin: 0 8.5rem 2.1875rem 0;
            font-size: 1.125rem;
        }
        a
        {
            min-width: 11.5rem;
            padding: 1rem;
            background-color: $color-h1;
            color: #fff;
            border-radius: 27px;
            &:hover
            {
                background-color: #fff;
                transition: .3s;
                color: $color-h1;
                box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1); 
            }
        }
    }
    .banner-img
    {
        position: absolute;
        top: 9.36rem;
        right: 14.2rem;    
    }
    .banner-curve
    {
        position: absolute;
        z-index: -1;
    }
    .leaf-circle-1 
    {
        position: absolute;
        bottom: -3.5rem;
        left: 2rem;
        img
        {
            max-width: 92%;
        }
    }
    .leaf-circle-2
    {
        position: absolute;
        bottom: -1rem;
        right: 2.875rem;
    }
}
.wrap
{
    background: url('../img/left-bg.png') no-repeat top 27rem left -16rem;
    background-size: 60%;
    position: relative;
}
// ______________________________department-site________________________
.department-site
{
    margin: 4rem 0 3em;
    h2
    {
        margin: 0 0 .987rem;
        text-align: center;
        text-transform: capitalize;
    }
    p
    {
        margin: 0 14.875rem 1.875rem;
        text-align: center
    }
    .department-wrap
    {
        margin: 2.875rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .department-content
        {
            width: 31%;
            padding: 3rem;
            border-radius: 20px;
            text-align: center;
            margin: 0px 3px;
            color: #fff;
            &:first-child
            {
                background: #80be41;

                img
                {
                    max-width: 78%;
                }
            }
            &:nth-child(2)
            {
                background: #ffb258;

            }
            &:nth-child(3)
            {
                background: #f9703a;

            }
        }
    }
}
// __________________________learning-sec______________________________
.learning-sec
{
    padding: 5rem 0 2.5rem;
    position: relative;
    .video-svg
    {
        position: relative;
        figure:first-child
        {
            margin: 0;
            height: 27rem;
            width: 28rem;
            overflow: hidden;
            border-radius: 50%;
            border: 1.1rem solid #fdf6ee;
            padding: 2px;
            position: absolute;
            left: 4.9rem;
            top: 4.5rem;
            background: #fff;
            img
            {
                transform: scale(1.1);
                transition: .5s ease-in-out;
                height: 25rem;
                padding: 2rem;
                border-radius: 50%;
            }
        }
        figure:nth-child(2)
        {
            position: absolute;
            top: 5rem;
            left: -5.5rem;
            z-index: -1;
        }
        span
        {
            position: absolute;
            top: 16rem;
            left: 17rem;
            color:#ffff;
            background: #ffc178;
            border-radius: 50%;
            cursor: pointer;
            &:hover
            {
                font-size: 10px;
            }
        }
        
    }
    .video-content
    {
        margin: 0 0 0 0.875rem;
    }
    .learning-content
    {
        margin: 0px 0.4rem;
        h2
        {
            margin: 0 0 1.35rem;
            text-transform: capitalize;
        }
        p
        {
            margin: 0 0rem 1.875rem;
        }
        .col-md-4
        {
            .counter-count
            {
                font-size: 1.9rem;
                font-family: "montserratbold";
                position: relative;
                line-height: 70px;
                width: 92px;
                height: 70px;
                display: inline-block;
            }
            .text-capitalize
            {
                line-height: 34px;
            }
            &:nth-child(1)
            {
                .counter-count
                {
                color: $color-h1;
                }
                p
                {
                color: $color-h1;
                }
            }
            &:nth-child(2)
            {
                .counter-count
                {
                color: #ff5f72;
                }
                p
                {
                color: #ff5f72;
                }
            }
            &:nth-child(3)
            {
                .counter-count
                {
                color: #43cb83;
                }
                p
                {
                color: #43cb83;
                }
            }
        }
       
    }
    
}
// _________________________university-sec_____________________________
.university
{
    position: relative;
    padding: 3rem 0 3rem;
    background: url('../img/circle-right-bg.png') no-repeat top 0rem right;
    background-size: 39%;
    h2
    {
        margin: 0 0 5.987rem;
        text-align: center;
        text-transform: capitalize;
    }
    .wrap-1
    {
        margin-top: 1.375rem;
        .col-md-3
        {
            padding: 0 10px;
        }
        .university-content
        {
            box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1); 
            .card-head
            {
                figure
                {
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    &::before
                    {
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-25deg);
                    }
                    &:hover::before
                    {
                        -webkit-animation: shine .75s;
                        animation: shine .75s;
                    }
                    @-webkit-keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                    @keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                }
            }
            .card-body
            {
                padding: 1.32rem .5rem 1.32rem .9rem;
                ul
                {
                    li
                    {
                        list-style: none;
                        font-size: 16px;
                        color: $color-paragraph;
                        &:nth-child(2)
                        {
                            margin: 0.4rem 0 1.5rem;
                            font-size: 14px;
                            text-transform: capitalize;
                            font-family: 'robotoregular';
                        }
                        a
                        {
                            text-transform: capitalize;
                            font-family: 'work_sansmedium';
                            color: $color-h2;
                            &:hover
                            {
                                color: $color-h1;
                                transition: .3s
                            }
                        }
                        h4
                        {
                            color: $color-paragraph;
                            font-family: 'work_sansregular';
                            &:hover
                            {
                                color: #252c3a;
                            }
                        }
                    }
                }
                
            }
        }
    }
    .wrap-2
    {
        margin-top: 1.375rem;
        .col-md-3
        {
            padding: 0 10px;
            &:first-child
            {
                .university-content
                {
                    box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1); 
                    .card-head
                    {
                        overflow: hidden;
                        height: 11.5rem;
                        figure
                        {
                            position: relative;
                            overflow: hidden;
                            margin: 0;
                            &::before
                            {
                                position: absolute;
                                top: 0;
                                left: -75%;
                                z-index: 2;
                                display: block;
                                content: '';
                                width: 50%;
                                height: 100%;
                                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                                -webkit-transform: skewX(-25deg);
                                transform: skewX(-25deg);
                            }
                            &:hover::before
                            {
                                -webkit-animation: shine .75s;
                                animation: shine .75s;
                            }
                            @-webkit-keyframes shine {
                                100% {
                                    left: 125%;
                                }
                            }
                            @keyframes shine {
                                100% {
                                    left: 125%;
                                }
                            }
                            img
                            {
                                width: 21rem;
                            }
                        }
                    }
                    .card-body
                    {
                        padding: 1.32rem .5rem 1.32rem .9rem;
                        ul
                        {
                            li
                            {
                                list-style: none;
                                font-size: 16px;
                                color: $color-paragraph;
                                &:nth-child(2)
                                {
                                    margin: 0.4rem 0 1.5rem;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    font-family: 'robotoregular';
                                }
                                a
                                {
                                    text-transform: capitalize;
                                    font-family: 'work_sansmedium';
                                    color: $color-h2;
                                    &:hover
                                    {
                                        color: $color-h1;
                                        transition: .3s
                                    }
                                }
                                h4
                                {
                                    color: $color-paragraph;
                                    &:hover
                                    {
                                        color: #252c3a;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            
            .university-content
            {
                box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1); 
                .card-head
                {
                    figure
                    {
                        position: relative;
                        overflow: hidden;
                        margin: 0;
                        &::before
                        {
                            position: absolute;
                            top: 0;
                            left: -75%;
                            z-index: 2;
                            display: block;
                            content: '';
                            width: 50%;
                            height: 100%;
                            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                            -webkit-transform: skewX(-25deg);
                            transform: skewX(-25deg);
                        }
                        &:hover::before
                        {
                            -webkit-animation: shine .75s;
	                        animation: shine .75s;
                        }
                        @-webkit-keyframes shine {
                            100% {
                                left: 125%;
                            }
                        }
                        @keyframes shine {
                            100% {
                                left: 125%;
                            }
                        }
                    }
                }
                .card-body
                {
                    padding: 1.32rem .5rem 1.32rem .9rem;
                    ul
                    {
                        li
                        {
                            list-style: none;
                            font-size: 16px;
                            color: $color-paragraph;
                            &:nth-child(2)
                            {
                                margin: 0.4rem 0 1.5rem;
                                font-size: 14px;
                                text-transform: capitalize;
                                font-family: 'robotoregular';
                            }
                            a
                            {
                                text-transform: capitalize;
                                font-family: 'work_sansmedium';
                                color: $color-h2;
                                &:hover
                                {
                                    color: $color-h1;
                                    transition: .3s
                                }
                            }
                            h4
                            {
                                color: $color-paragraph;
                                font-family: 'work_sansregular';
                                &:hover
                                {
                                    color: #252c3a;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
}
// ___________________footer-sec_______________________________________
.main-footer
{
    padding: 7.5rem 0 0;
    margin: 5rem 0 0;
    background-color: #252c3a;
    .footer-content
    {
        margin-bottom: 6rem;
        h3
        {
            font-family: 'robotoregular';
            text-transform: uppercase;
            color: #fff;
            font-size: 18px;
            line-height: 43px;
        }
        p
        {
            text-align: justify;
            font-size: 16px;
            font-family: 'robotoregular';
            color: #969595;
            margin: 0 0 2rem;
            margin-top: 2.5rem;
        }
        ul
        {
            margin-top: 2.5rem;
            li
            {
                list-style-type: none;
                margin: 0rem 0 1.5rem;
                font-size: 16px;
                font-family: 'robotoregular';
                color: #969595;
                a
                {
                    font-size: 14px;
                    color: #6b6b6b;
                    &:hover
                    {
                    color: #0089fd;
                    }
                }
            }
        }
        .social-media
        {
            border-top: 1px solid #484848;
            padding-top: 2rem;
            i
            {
                margin-right: .42rem;
                cursor: pointer;
                &:hover
                {
                    color: #0089fd;
                }
            }
        }
        .input-group-text
        {
            font-size: 16px;
            background-color: $color-h1;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-family: 'robotoregular';
            cursor: pointer;
            &:hover
            {
                text-decoration: underline;
            }
        }
        .input-group-lg > .form-control
        {
            font-size: 16px;
            font-family: 'robotoregular';
        }
    }
    .site-info
    {
        background-color: #1d232e;
        padding: .5rem 0;
        margin: 0;
        p
        {
            font-family: 'robotoregula';
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: #6b6b6b;
            a
            {
                color: #6b6b6b;
                margin-left: 6px;
                &:hover
                {
                    color: $icon-hover;
                }
            }
        }
        ul
        {
            list-style-type: none;
            float: right;
            margin: 0;
            li
            {
                display: inline;
                a
                {
                    margin: 0px 8px;
                    font-family: 'robotoregular';
                    font-size: 14px;
                    color: #6b6b6b;
                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}